.navFooter {
  margin-bottom: 20px;
}

.navCloser {
  padding-right: 20px;
}

.sidebarComponent {
  background-color: #49516f;
}

.whiteAnchor {
  color: #fff !important;
}

.noeffect {
  display: none;
}
